<ion-header [translucent]="true">
</ion-header>

  <ion-content >
    <div class="button-container">
      <div class="container">
        <ion-text class="ion-text-center">
          <h1 class="welcome-text">Bienvenido</h1>
        </ion-text>
      </div>
      <ion-button expand="full" color="primary" routerLink="/login" class=>
        Iniciar sesión
      </ion-button>
      <ion-button   expand="full" color="secondary" routerLink="/registro">
        Registrarse
      </ion-button>
    </div>
  </ion-content>

